body{
  background: #8c459e;
}

.App {
  text-align: center;
  background-repeat: no-repeat;
  background-position: center;
  background-origin: inherit;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
/*  */
.btn-wrapper button {
  background-color: rgb(61, 156, 211);
  border: 0px;
  padding: 10px;
  border-radius: 4px;
  color: #fff;
  box-shadow:4px 4px #333 0px 1px 5px;
  margin-top:15PX;
  width:180px;
  margin-left: 80px; 
  height: 50px; 
}

.img-wrapper img {
  width: 50px;
  margin-top: -10px;
}
.cart-wrapper{
  height: 200px;
    width: 550px;
    border: 4px solid #ccc;
    margin-left: 10%;
    background-color: rgb(233, 142, 23);
    box-shadow:2px 2px black;
    
}
.item {
  float: left;
  display: inline-block;
  width: 120px;
  padding: 20px;
  height: 70px;
}
.add-to-cart img{
  width: 56px;
    position: absolute;
    right: 1%;
    top: 2%;
}

.cart-count{
  
    position: absolute;
    right: 25px;
    top: 18px;
    z-index: 1;
    background-color: rgb(230, 226, 32);
    padding: 7px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    color: rgb(228, 6, 6);
}
/*  */
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.characters {
  list-style: none;
  padding-left: 0;
  width: 300px;
}

.characters li {
  display: flex;
  align-items: center;
  border: solid 2px #d0d0d0;
  border-radius: .2em;
  padding: .5em .8em .5em .5em;
  margin-bottom: 1em;
}

.characters p {
  max-width: none;
  font-weight: bold;
  margin: 0;
}

.characters-thumb {
  overflow: hidden;
  flex-shrink: 0;
  width: 2em;
  height: 2em;
  background-color: #e8e8e8;
  padding: .5em;
  margin-right: .5em;
}

.characters-thumb img {
  display: block;
  width: 100%;
  height: auto;
}
.dnd{
  margin-right: 10px;
}